/* Layout */
.stand {
    display: flex; 
    padding-left: 0.5em;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.clockbox {
    display: flex;
    margin: 0;
    padding: 0;
}
.clockbox,
#clock {
    width: 40px;
    height: 40px;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
}
